__pycache__
dist/Colr-0.0.2*.tar.gz
dist/Colr-0.0.3.tar.gz
*.pyc
data
*NEW
*.egg-info
data_test
progress.depends.txt
*.egg
build
sandbox.py
use-docoptng.sh
*scratch_test.py
.coverage
coverage_html
benchmarks.json
test/last_snippet.py
*.swp
